.questions-bg {
  background-image: linear-gradient(rgba(2, 23, 77, 0.9), rgba(2, 23, 77, 0.9)),
    url(../images/questionsBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0;
  box-shadow: 5px 4px 12.800000190734863px 0px rgba(0, 0, 0, 0.55);
}

.questions__list {
  list-style-type: none;
  width: 350px;
  padding: 14px 21px;
  background-color: var(--list-bgc);
  margin-bottom: 23px;
}

.questions__list:last-child {
  margin-bottom: 0;
}

.questions__block {
  margin-top: -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.questions__title {
  color: var(--form-btn-bgc);
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 15.75px;
  text-align: left;
}

.questions__main-title {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 20.3px;
}
.questions__secondary-title {
  color: var(--hero-title-color);
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 20.3px;
}
.questions__flexbox {
  display: flex;
  align-items: center;
}

.questions__description {
  color: var(--header-background-color);
  font-size: 8.75px;
  line-height: 17.82px;
  margin-top: 9px;
}

.changeLife {
  background-color: var(--section-bgc);
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% + 100px);
  margin-left: -50px;
  margin-right: -50px;
  box-sizing: border-box;
}

.changeLife__title {
  text-align: center;
  max-width: 350px;
  font-size: 15px;
  font-weight: bold;
  line-height: 23.63px;
  margin-bottom: 10px;
}

.changeLife__btn {
  background-color: var(--form-btn-bgc);
  color: var(--general-text-color);
  font-size: 9px;
  font-weight: bold;
  height: 23px;
  width: 165px;
  border-radius: 14px;
  border: none;
}
