.container {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  @media screen and (min-width: 450px) {
    width: 450px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media screen and (min-width: 1440px) {
    width: 1440px;
  }
}
