:root {
  --general-font: "Noto Sans Javanese", sans-serif;
  --header-background-color: #000000;
  --general-text-color: #ffffff;
  --section-shadow-color: rgba(255, 255, 255, 0.88);
  --form-border-color: #e4e4e4;
  --form-bg-color: #a4daff;
  --form-input-color: rgba(0, 0, 0, 0.5);
  --form-btn-bgc: #2347a3;
  --hero-title-color: #32acff;
  --list-bgc: #b4dffc;
  --section-bgc: #02174d;
}
